body {
    color: #333;
    font-family: 'PT Sans', Helvetica Neue, Arial, sans-serif;
}

a {
    color: #333;
    text-decoration: none;
}

/* Firefox: Prevent drawing the dotted focus lines */
a:focus { 
    outline: none; 
}

h1 {
    font-size: 1.6em;
    font-weight: 800;
    line-height: 1em;
    margin: 0;
}

h1 + p.meta {
    margin-top: 0.5em;
}

h2 {
    font-size: 1.4em;
    font-weight: 700;
    line-height: 1em;
    margin: 1.5em 0 0.4em 0;
    text-decoration: none;
}

h3 {
    font-size: 1.2em;
    font-weight: 600;
    margin: 1.2em 0;
}

/* Source: http://stackoverflow.com/questions/7273927/image-greyscale-with-css-re-color-on-mouse-over */
img#logo {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
}

img#logo:hover {
  filter: none;
  -webkit-filter: grayscale(0%);
}

#container {
    padding-left: 16em;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 16em;
    margin-left: -16em;
    color: #fff;
    padding-top: 5em;
    text-align: center;
    background: #161616;
}

.sidebar ul {
    text-align: left;
    width: 100%;
}

.sidebar li a {
    padding-left: 6em;
}

/*.sidebar ul {
    text-align: left;
    margin: 0 auto;
    width: 100%;
}

.sidebar ul li {
    margin: 0 auto;  
    width: 50%;
    padding: 0 25%;
}*/

pre {
    /* background: lightgray; */
    padding: 20px 0 20px 10px;
}

#content {
    padding: 2em 3em 0;
}

.pure-menu-custom ul {
    margin-top: 1em;
}

.pure-menu-custom.pure-menu-open, .pure-menu-custom.pure-menu-horizontal li .pure-menu-children {
    background: none;
    border: none;
}

.pure-menu-custom li a:hover,.pure-menu-custom li a:focus, a:hover, a:focus {
    background: none;
    color: #1abc9c;
	-webkit-transition: all 0.4s linear;
	-moz-transition: all 0.4s linear;
	-o-transition: all 0.4s linear;
	transition: all 0.4s linear;
}

.pure-menu-custom a, .pure-menu-custom .pure-menu-can-have-children>li:after {
    color: #fff;
}

.pure-menu-custom .pure-menu-selected a {
    color: #1abc9c;
}

.post {
    margin-bottom: 2em;
    font-size: 1.5em;
}

.post a{
    text-decoration: underline;
}

.post>h1 a {
    text-decoration: none;
}

.meta {
    margin: 0;
    color: #777;
    font-size: .8em;
}

blockquote {
    border-left: .3em solid #1abc9c;
    margin-left: 0;
    padding-left: 1.5em;
    font-style: italic;
}

@media only screen and (max-width: 768px) {
    .sidebar {
        width: 100%;
        position: relative;
        margin: 0;
        background: #161616;
        padding-top: 2em;
    }

    .sidebar li a {
        padding-left: 16.5em;
    }

    #container {
        padding: 0;
    }

    .pure-menu-custom ul {
        margin-top: 0;
    }
}

@media only screen and (max-width: 480px) {
    #content {
        padding: 2em 1em 0;
    }
    
    .sidebar li a {
        padding-left: 9em;
    }
}

span.tags a {
    text-decoration: none;
}

div.tags {
    margin-top: 1.5em;
}

ul.menu li:hover {
    background: #1abc9c;
}

ul.menu a:hover {
    color: white;
}

.nav_current {
    background: #1abc9c;
}

li.nav_current a:hover {
    background: #159e83;
}

div#banner {
    background: red;
    width: 100%;
    line-height: 2em;
    margin: auto;
}

div#banner p {
    text-align: center;
    width: 100%;
    margin: 0;
    font-weight: 700;
}

h1.technique-three {
  width: 350px;
  height: 75px;
  background: url("images/header-image.jpg");
  text-indent: -9999px;
}

/* Social */
div#share {
    text-align: center;
    width: 100%;
    margin: 1.5em 0 1.5em 0;
}

.btn-twitter, .btn-facebook, .btn-google {
    margin-right: 0.5em;
}

.btn-twitter:hover, .btn-facebook:hover, .btn-google:hover {
    display: inline-block;
    text-decoration: none;
}

.btn-twitter:before, .btn-facebook:before, .btn-google:before {
    font-family: FontAwesome;
    display: inline-block;
    margin-right: 0.1em;
    font-size: 0.85em;
}

.btn-twitter:before {
    content: "\f081";
}

.btn-twitter:hover {
    color: #00acee;
}

.btn-facebook:before {
    content: "\f082";
}

.btn-facebook:hover {
    color: #3B5998;
}

.btn-google:before {
    content: "\f0d4";
}

.btn-google:hover {
    color: #dd4b39;
}

/* Comments */
#show-comments-wrapper {
    text-align: center;    
}

a.show-comments {
    text-decoration: none;
}

#stalk-section a, div#share a {
    text-decoration: none;
}

#stalk-section .github a:hover {
    color: #171515;
}

#stalk-section .google-plus a:hover {
    color: #dd4b39;
}

#stalk-section .twitter a:hover {
    color: #00acee;
}

#stalk-section .youtube a:hover {
    color: #c4302b;
}

#stalk-section .lastfm a:hover {
    color: #c3000d;
}

/* fontello fix to accomodate Font Awesome's 0 margin */
i[class^="icon-"]:before, i[class*=" icon-"]:before {
    margin: 0;
}

/* Epic hackery to display it at same size as the others */
#stalk-section .icon-lastfm-rect {
    line-height: 1em;
    font-size: 0.85em;
    padding-right: 0.11em;
    padding-left: 0.12em;
}

#stalk-section .linkedin a:hover {
    color: #0e76a8;
}

#stalk-section .xing a:hover {
    color: #126567;
}
