{% include "head.twig" %}
        <div id="container" class="pure-g-r">
            {% include "sidebar.twig" %}
            <div class="pure-u-1">
                <div id="content">
                    {% for page in pages %}
                        {% if page.meta.date %}
                            <div class="post">
                                <h1><a href="{{ page.url }}">{{ page.title }}</a></h1>
                                <p class="meta">Published {{ page.meta.date|date(config.date_format) }} by {{ page.meta.author }}
                                    {% if page.meta.updated %}
                                        (Updated {{ page.meta.updated|date(config.date_format) }})
                                    {% endif %}
                                    {% if page.meta.tags %}
                                        <span class="tags"><br />Tags:
                                            {% for tag in page.meta.tags %}
                                                <a href="{{ base_url }}/tag/{{ tag }}">#{{ tag }}</a>
                                            {% endfor %}
                                        </span>
                                    {% endif %}
                                </p>
                                <p class="excerpt">
                                    {{ page.content|striptags|slice(0, 300) }}…&nbsp;
                                    <a href="{{ page.url }}" title="{{ page.title }}" class="btn">Read&nbsp;More</a>
</p>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
{% include "foot.twig" %}
