{% include "head.twig" %}
        <div id="container" class="pure-g-r">
            {% include "sidebar.twig" %}
            <div class="pure-u-1">
                <div id="content">
                    <div class="post">
                        {{ toc_top }}
                        {% if meta.title %}
                            <h1>{{ meta.title }}</h1>
                        {% endif %}
                        {% if meta.date %} <!-- single page  -->
                            <p class="meta">Published {{ meta.date|date(config.date_format) }}
                                {% if meta.updated %}
                                    (Updated {{ page.meta.updated|date(config.date_format) }})
                                {% endif %}
                                {% if meta.tags_array %}
                                    <span class="tags"><br />Tags:
                                        {% for tag in meta.tags_array %}
                                            <a href="{{ base_url }}/tag/{{ tag | url_encode }}">#{{ tag }}</a>
                                        {% endfor %}
                                    </span>
                                {% endif %}
                            </p>
                        {% endif %}
                        {{ toc }}
                        {% spaceless %}{{ content }}{% endspaceless %}
                        {{ social_share }}
                        {{ disqus_comments }}
                    </div>
                </div>
            </div>
        </div>
{% include "foot.twig" %}
