{% include "head.twig" %}
        <div id="container" class="pure-g-r">
            {% include "sidebar.twig" %}
            <div class="pure-u-1">
                {% if meta.title == 'Projects' %}
                    {% include "job-banner.twig" %}
                {% endif %}
                <div id="content">
                {% if meta.title ==  'Projects' %}
                    <!-- tag/ page -->
                    <div class="post">
                        <h1>{{ meta.title }}</h1>
                        {{ content }}
                    </div class="post">
                    <!-- tag/ page -->
                {% else %}
                    <div class="post">
                        {{ toc_top }}
                        {% if meta.title %}
                            <h1>{{ meta.title }}</h1>
                        {% endif %}
                        {% if meta.date %} <!-- single page  -->
                            <p class="meta">Published {{ meta.date|date(config.date_format) }}
                                {% if meta.updated %}
                                    (Updated {{ page.meta.updated|date(config.date_format) }})
                                {% endif %}
                                <span class="tags"><br />Tags:
                                    {% for tag in meta.tags %}
                                        <a href="{{ base_url }}/tag/{{ tag }}">#{{ tag }}</a>
                                    {% endfor %}
                                </span>
                            </p>
                        {% endif %}
                        {{ toc }}
                        {% spaceless %}{{ content }}{% endspaceless %}
                        {{ social_share }}
                        {{ disqus_comments }}
                    </div>
                {% endif %}
                </div>
            </div>
        </div>
{% include "foot.twig" %}
