                <div id="banner">
                    <p>
                        Available for hire! I'm looking for a 6 month internship in IT (April 2014).
                        Résumé: 
                        <a href="{{ download_url }}/cv_en.pdf">EN</a> |
                        <a href="{{ download_url }}/cv_de.pdf">DE</a> |
                        <a href="{{ download_url }}/cv_fr.pdf">FR</a>
                    </p>
                </div>
