                <div id="banner">
                    <p>
                        Available for hire! I'm looking for a 6 month internship in IT (April 2014).
                        Résumé: <a href="{{ base_url}}/content/download/cv_en.pdf">EN</a> |
                        <a href="{{ base_url}}/content/download/cv_de.pdf">DE</a> |
                        <a href="{{ base_url }}/content/download/cv_fr.pdf">FR</a>
                    </p>
                </div>
