body {
    color: #333;
    font-family: 'PT Sans', Helvetica Neue, Arial, sans-serif;
}

a {
    color: #333;
    text-decoration: none;
}

h2 {
    font-size: 1.6em;
    font-weight: 700;
    line-height: 1em;
    margin: 0;
}

h2 + p.meta {
    margin-top: 0.5em;
}

h3 {
    font-size: 1.2em;
    font-weight: 600;
    line-height: 1em;
    margin: 1.5em 0 0.4em 0;
    text-decoration: none;
}

#container {
    padding-left: 16em;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 16em;
    margin-left: -16em;
    color: #fff;
    padding-top: 5em;
    text-align: center;
    background: #161616;
}

pre {
    /* background: lightgray; */
    padding: 20px 0 20px 10px;
}

#content {
    padding: 2em 3em 0;
}

.pure-menu-custom ul {
    margin-top: 1em;
}

.pure-menu-custom.pure-menu-open, .pure-menu-custom.pure-menu-horizontal li .pure-menu-children {
    background: none;
    border: none;
}

.pure-menu-custom li a:hover,.pure-menu-custom li a:focus, a:hover, a:focus {
    background: none;
    color: #1abc9c;
	-webkit-transition: all 0.4s linear;
	-moz-transition: all 0.4s linear;
	-o-transition: all 0.4s linear;
	transition: all 0.4s linear;
}

.pure-menu-custom a, .pure-menu-custom .pure-menu-can-have-children>li:after {
    color: #fff;
}

.pure-menu-custom .pure-menu-selected a {
    color: #1abc9c;
}

.post {
    margin-bottom: 2em;
    font-size: 1.5em;
}

.post a{
    text-decoration: underline;
}

.post>h2 a {
    text-decoration: none;
}

.meta {
    margin: 0;
    color: #777;
    font-size: .8em;
}

blockquote {
    border-left: .3em solid #1abc9c;
    margin-left: 0;
    padding-left: 1.5em;
    font-style: italic;
}

@media only screen and (max-width: 768px) {
    .sidebar {
        width: 100%;
        position: relative;
        margin: 0;
        background: #161616;
        padding-top: 2em;
    }

    #container {
        padding: 0;
    }

    .pure-menu-custom ul {
        margin-top: 0;
    }
}

@media only screen and (max-width: 480px) {
    #content {
        padding: 2em 1em 0;
    }
}

span.tags a {
    text-decoration: none;
}

div.tags {
    margin-top: 1.5em;
}

ul.menu li:hover {
    background: #1abc9c;
}

ul.menu a:hover {
    color: white;
}

.nav_current {
    background: #1abc9c;
}

li.nav_current a:hover {
    background: #159e83;
}

div#banner {
    background: red;
    width: 100%;
    line-height: 2em;
    margin: auto;
}

div#banner p {
    text-align: center;
    width: 100%;
    margin: 0;
    font-weight: 700;
}

h1.technique-three {
  width: 350px;
  height: 75px;
  background: url("images/header-image.jpg");
  text-indent: -9999px;
}

div#share {
    text-align: center;
    width: 100%;
    margin: 1.5em 0 1.5em 0;
}

/* Social */
.btn-twitter, .btn-facebook, .btn-google {
    margin-right: 0.5em;
}

.btn-twitter:before, .btn-facebook:before, .btn-google:before {
    font-family: FontAwesome;
    display: inline-block;
    margin-right: 0.1em;
    font-size: 0.85em;
}

.btn-twitter:before {
    content: "\f081";
    color: #4099FF;
}

.btn-facebook:before {
    content: "\f082";
    color: #3B5998;
}

.btn-google:before {
    content: "\f0d4";
    color: #dd4b39;
}
